{% extends 'base.html' %}

{% block title %}
Фильмы
{% endblock %}

{% block content %}
    <h1>Фильмы </h1>
    <p>QQQQ</p>


<div class="dropdown show">
  <a class="btn btn-warning dropdown-toggle " href="series" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Выбрать жанр
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <div class="d-flex text-center text-white bg-black">
    <a class="dropdown-item  dropdown-dark gradient-text bg-black" href="films/comedy">Комедии</a>
    <a class="dropdown-item gradient-text bg-black" href="films/drama">Драмы</a>
    <a class="dropdown-item gradient-text bg-black" href="films/horror">Ужасы</a>
    <a class="dropdown-item gradient-text bg-black" href="films/romance">Милодрамы</a>
   </div>
  </div>
</div>


{% for movie in movies %}
{% if movie.films %}
<h3>{{ movie.name }}</h3>
<img src="media/{{movie.image}}">
<p>{{ movie.description  }}</p>
<a href="movie/{{movie.kinopoisk_id}}">Перейти к просмотру</a>>
<hr>


<!-- jQuery -->
<script src="/examples/vendors/jquery/jquery-3.2.1.min.js"></script>
<!-- Bootstrap -->
<script src="/examples/vendors/bootstrap-3.3.7/js/bootstrap.min.js"></script>
{% endif %}
{% endfor %}

{% endblock %}
